
div,h2,h3{
text-align: center;
color: rgb(96, 146, 135);
font-family: fantasy;
font-size: 1.5rem;
margin-bottom:5px;
}
h1,p,a{
text-align: center;
color: darkslateblue;
padding: 2px;
margin-bottom: 2px;
font-family: fantasy;
}
h4{
    text-align: center;
    color: darkslateblue;
    padding-bottom: 1px;
    font-size: 2.5rem;
    font-family: fantasy;
    }*/

.row:after {
content: "";
display: table;
clear: both;
}
img{
height: 40%;
width: 50%;
}
form { 
margin-top:20px;
margin-left: 30%;
margin-right:30%;
width: 70%;
margin-bottom:50px;

}
body{
background-color: honeydew;
position: relative;
height:112%
}
html{
background-image: url("Bilder/background.jpeg");
height:100%

}
footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
    padding: 10px;
    margin-top: 100px;
  }
th,td{
text-align: left;
font-size: 2rem;
color: rgb(96, 146, 135);
font-family: fantasy;
margin:10px;
}
td{
padding:30px;
}
.header{
margin-bottom:50px;    
}


